/********* FONTS *********/
@font-face {
  font-family:"Ninetea-Regular" ;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Ninetea-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"Ninetea-SemiBold" ;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/assets/fonts/Ninetea-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family:"NYXERIN" ;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/src/assets/fonts/NYXERIN.otf") format("opentype");
}