/********* VARIABLES *********/
$white: #ffffff;
$black: #000000;
$font-head: "NYXERIN", serif;
$font-bdy-reg: "Ninetea-Regular", sans-serif;
$font-bdy-semi: "Ninetea-SemiBold", serif;

:root {
  --theme-black: #010101;
  --theme-pure-black: #000000;
  --theme-white: #e1c8ff;
  --theme-pure-white: #ffffff;
  --theme-banner-white: #bababa;
  --theme-violet: #261945;
  --theme-dark-violet: #bb83ff;
  --theme-gray: #c0c0c0;
  --theme-light-gray: #a9a9a9;
  --theme-dark-gray: #2b2b2b;
}
