@use "../abstract/" as *;
/**Contact section**/
.tb-contact {
  &__wrap {
    display: flex;
    gap: 6.6rem;
    margin-block-end: 13.5rem;
  }

  &__img {
    flex: 1 50%;
    position: relative;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.6rem;
    }

    h2 {
      font-family: $font-head;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 3.473rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--theme-pure-black);
      max-width: 55.4rem;
      position: absolute;
      top: 8.8rem;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__form {
    flex: 1 50%;

    & > span {
      font-family: $font-bdy-semi;
      font-weight: 600;
      font-size: 1.515rem;
      color: var(--theme-dark-violet);
    }

    h1 {
      font-family: $font-head;
      font-weight: 400;
      font-size: 5.816rem;
      line-height: 6.898rem;
      text-transform: uppercase;
      color: var(--theme-pure-white);
      margin-bottom: 3.4rem;
    }

    label {
      display: block;
      font-family: $font-bdy-semi;
      font-weight: 600;
      font-size: 1.8rem;
      color: var(--theme-pure-white);
    }

    input {
      border: 1px solid #474747;
      padding: 1.6rem;
      background: #1a1a1a;
      font-family: $font-bdy-reg;
      font-weight: 400;
      font-size: 1.8rem;
      border-radius: 0.8rem;
      width: 100%;

      &::placeholder {
        color: #4e4e4e;
      }
    }

    textarea {
      border: 1px solid #474747;
      padding: 1.6rem;
      background: #1a1a1a;
      font-family: $font-bdy-reg;
      font-weight: 400;
      font-size: 1.8rem;
      border-radius: 0.8rem;
      width: 100%;
      margin-block-end: 2.6rem;

      &::placeholder {
        color: #4e4e4e;
      }
    }
  }

  &__field {
    margin-block-end: 1.6rem;
  }

  &__flag-select {
    border: 1px solid #474747;
    padding: 1.6rem !important;
    background: #1a1a1a;
    font-family: $font-bdy-reg;
    font-weight: 400;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    vertical-align: middle !important;
    flex-basis: 15%;

    & > button {
      border: none;
      padding: 0;

      & > span {
        margin: 0;
      }
    }
  }

  &__phone {
    display: flex;
    gap: 1.2rem;

    input {
      flex-grow: 1;
    }
  }
}

@include media(1199px) {
  .tb-contact__form h1 {
    font-size: 4.8rem;
    line-height: 5.498rem;
    margin-bottom: 2.4rem;
  }

  .tb-contact__wrap {
    gap: 3.2rem;
  }
}

@include media(991px) {
  .tb-contact__wrap {
    flex-direction: column;
  }
}

@include media(767px) {
  .tb-contact__wrap {
    margin-block-end: 12.1rem;
  }

  .tb-footer__head {
    justify-content: flex-start;
    margin-block-end: 2.6rem;
    gap: 1.6rem;
    flex-direction: column;
  }

  .tb-footer__head img {
    margin-inline-end: auto;
  }

  .tb-footer__head p {
    text-align: left;
    width: 100%;
  }

  .tb-contact__img h2 {
    top: 6.4rem;
  }
}

@include media(575px) {
  .tb-contact__img h2 {
    top: 3.6rem;
    font-size: 1.248rem;
    line-height: 1.7rem;
    max-width: 20rem;
  }

  .tb-contact__head {
    span {
      font-family: $font-bdy-semi;
      font-weight: 600;
      font-size: 1.6rem;
      color: var(--theme-dark-violet);
      display: block;
      text-align: center;
    }

    h1 {
      font-family: $font-head;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 3.4rem;
      text-transform: uppercase;
      text-align: center;
      color: var(--theme-pure-white);
      margin-block-end: 0;
    }
  }

  .tb-contact__form input {
    padding: 1.4rem;
    font-size: 1.6rem;
  }

  .tb-contact__form label {
    font-size: 1.4rem;
  }

  .tb-contact__flag-select {
    padding: 1.4rem !important;
    font-size: 1.6rem;
  }
}
